{% extends "base.html" %}

{% block content %}
<body>
    <a href="/players" class="button"  style="margin-top: 75px" >look at players </a>
    <div class="container">
        <p>{{ message }}</p>
        <table class="table table-striped"  style="margin-top: 75px">
            <thead>
                <tr>
                    <th>Player Name</th>
                    <th>ID</th>
                </tr>
            </thead>
            <tbody>
                {% for row in results %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
{% endblock %}